/*{
    border: 1px solid red;
}*/

body{
    background: radial-gradient(closest-side, #220000, #000000);
    padding : 0;
    margin: 0;
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}

h1, p {
    font-family: 'Montserrat', sans-serif;
    font-size: 100px;
    color: #1c0502;
    text-shadow: -0.05rem -0.05rem 1px #ed2b12,
    0.05rem -0.05rem 1px #ed2b12,
    -0.05rem 0.05rem 1px #ed2b12,
    0.05rem 0.05rem 1px #ed2b12,
    0 0 15px #630100,
    0 0 20px #450100;
    animation: neon 1s alternate infinite;
}
p{
    font-size: 30px;
    text-align: center;
}
span{
    font-size: 50px;
    color: red;
}
@keyframes neon{
    from{text-shadow: -0.05rem -0.05rem 1px #ed2b12,
    0.05rem -0.05rem 1px #ed2b12,
    -0.05rem 0.05rem 1px #ed2b12,
    0.05rem 0.05rem 1px #ed2b12,
    0 0 15px #630100,
    0 0 20px #450100;}
    to{text-shadow: -0.05rem -0.05rem 1px #ff2b12,
    0.05rem -0.05rem 1px #ff2b12,
    -0.05rem 0.05rem 1px #ff2b12,
    0.05rem 0.05rem 1px #ff2b12,
    0 0 20px #800100,
    0 0 30px #600100;}
}

#box-text{
    margin: 10px 40px;
}
#play {
    display: flex;
    background-color: red;
    opacity: 0.7;
    height: 60px;
    width: 80px;
    border-radius: 4px;
    border: 4px solid white;
}
#play:hover {
    opacity: 0.8;
    height: 62px;
    width: 84px;
    margin: -2px;
}
#play:active {
    background-color: white;
}

#score{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
#pushers{
    display: flex;
    flex-flow: row nowrap;
    padding: 2px 20px;
}
.slideContainer {
    display: flex;
    border-radius: 4px;
}
.slider{
    -webkit-appearance: none;
    width: 420px;
    height: 34px;
    background: transparent;
    opacity: 0.7;
    border: 2px outset red;
    box-shadow: -0.05rem -0.05rem 1px #ed2b12,
    0.05rem -0.05rem 1px #ed2b12,
    -0.05rem 0.05rem 1px #ed2b12,
    0.05rem 0.05rem 1px #ed2b12,
    0 0 15px #630100,
    0 0 20px #450100;
    animation: neon2 1s alternate infinite;
}
.slider:hover {
    opacity: 1;
}
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 30px;
    height: 30px;
    background-color: transparent;
    border-radius: 4px;
    border: 3px solid red;
    cursor: pointer;
}
#valueContainer{
    display: flex;
    min-width: 550px;
    flex-flow: row nowrap;
    justify-content: space-between;
}
.pushPoint {
    display: flex;
    background-color: red;
    opacity: 0.7;
    height: 60px;
    width: 80px;
    border-radius: 4px;
    border: 4px solid white;
}
.score-box{
    display: flex;
    /*min-height: 30px;*/
    /*min-width: 240px;*/
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    border: 2px outset red;
    box-shadow: -0.05rem -0.05rem 1px #ed2b12,
    0.05rem -0.05rem 1px #ed2b12,
    -0.05rem 0.05rem 1px #ed2b12,
    0.05rem 0.05rem 1px #ed2b12,
    0 0 15px #630100,
    0 0 20px #450100;
    animation: neon2 1s alternate infinite;
}
.score-box>div{
    display: flex;
    margin: 2px 2px;
    background-color: #440000;
    height: 22px;
    width: 18px;
    border-radius: 1px;
    animation: neon2 1s alternate infinite;
}
@keyframes neon2{
    from{box-shadow: -0.05rem -0.05rem 1px #ed2b12,
    0.05rem -0.05rem 1px #ed2b12,
    -0.05rem 0.05rem 1px #ed2b12,
    0.05rem 0.05rem 1px #ed2b12,
    0 0 10px #630100,
    0 0 15px #450100;}
    to{box-shadow: -0.05rem -0.05rem 1px #ff2b12,
    0.05rem -0.05rem 1px #ff2b12,
    -0.05rem 0.05rem 1px #ff2b12,
    0.05rem 0.05rem 1px #ff2b12,
    0 0 15px #800100,
    0 0 20px #600100;}
}
.container{
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 1000px;
    animation: charge 8s ease;
    transform-style: preserve-3d;
}
.dices-box{
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
}
@keyframes charge{
    from {perspective: 10px;}
    to {perspective: 1000px;}
}
.container *{
    margin: auto;
}
.dice{
    margin: 40px;
    height: 80px;
    width: 80px;
    position: relative;
    
    transform-style: preserve-3d;
    animation: loop 0.5s linear infinite;
    transform: rotateY(360deg) rotateX(360deg);
}
@keyframes loop{
    from{transform: rotateY(0deg) rotateX(0deg);}
    to{transform: rotateY(360deg) rotateX(360deg);}
}
@keyframes loop2{
    from{transform: rotateY(0deg) rotateX(0deg);}
    to{transform: rotateY(180deg) rotateX(360deg);}
}
@keyframes loop3{
    from{transform: rotateY(0deg) rotateX(0deg);}
    to{transform: rotateY(90deg) rotateX(360deg);}
}
@keyframes loop4{
    from{transform: rotateY(0deg) rotateX(0deg);}
    to{transform: rotateY(360deg) rotateX(90deg);}
}
@keyframes loop5{
    from{transform: rotateY(0deg) rotateX(0deg);}
    to{transform: rotateY(270deg) rotateX(360deg);}
}
@keyframes loop6{
    from{transform: rotateY(0deg) rotateX(0deg);}
    to{transform: rotateY(360deg) rotateX(270deg);}
}
.face{
    background-color: red;
    height: 80px;
    width: 80px;
    border: 4px solid white;
    opacity: 0.7;
    box-sizing: border-box;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    animation: rainbow 8s linear infinite;
    /*filter: hue-rotate(0deg);*/
}
.faceBlue{
    background-color: blue;
}
/*@keyframes rainbow{
    from{filter: hue-rotate(0deg);}
    to{filter: hue-rotate(360deg);}
}*/
.front{
    transform: translateZ(40px) rotateY(0deg);
    background-image: none;
    background-size: 100%;
}
.left{
    transform: translateX(-40px) rotateY(270deg);
    background-image: none;
    background-size: 100%;
}
.right{
    transform: translateX(40px) rotateY(-270deg);
    background-image: none;
    background-size: 100%;
}
.back{
    transform: translateZ(-40px) rotateY(180deg); 
    background-image: none;
    background-size: 100%;
    tra
}
.top{
    transform: translateY(40px) rotateX(90deg);
    background-image: none;
    background-size: 100%;
}
.floor{
    transform: translateY(-40px) rotateX(-90deg);
    background-image: none;
    background-size: 100%;
}
.face>div{
    background-color: white;
    height: 14px;
    width: 14px;
    position: absolute;
    border-radius: 20px;
}
.front>div{
    top:28px;
    left: 28px;
}
.left>div:nth-child(1){
    top: 8px;
    left: 8px;    
}
.left>div:nth-child(2){
    top: 28px;
    left: 28px;    
}
.left>div:nth-child(3){
    bottom: 8px;
    right: 8px;    
}
.right>div:nth-child(1){
    top: 8px;
    left: 8px;    
}
.right>div:nth-child(2){
    top: 28px;
    left: 28px;    
}
.right>div:nth-child(3){
    bottom: 8px;
    right: 8px;    
}
.right>div:nth-child(4){
    bottom: 8px;
    left: 8px;    
}
.right>div:nth-child(5){
    top: 8px;
    right: 8px;    
}
.back>div:nth-child(1){
    top: 8px;
    left: 8px;    
}
.back>div:nth-child(2){
    bottom: 8px;
    right: 8px;    
}
.top>div:nth-child(1){
    top: 8px;
    left: 8px;    
}
.top>div:nth-child(2){
    bottom: 8px;
    right: 8px;    
}
.top>div:nth-child(3){
    bottom: 8px;
    left: 8px;    
}
.top>div:nth-child(4){
    top: 8px;
    right: 8px;
}
.floor>div:nth-child(1){
    top: 8px;
    left: 8px;    
}
.floor>div:nth-child(2){
    top: 28px;
    left: 8px;    
}
.floor>div:nth-child(3){
    bottom: 8px;
    left: 8px;    
}
.floor>div:nth-child(4){
    top: 8px;
    right: 8px;    
}
.floor>div:nth-child(5){
    top: 28px;
    right: 8px;    
}
.floor>div:nth-child(6){
    bottom: 8px;
    right: 8px;    
}
